/**
 * 文章 page-article
 *
 */
 
.page-article {
	overflow-x: hidden;
	background: #fff;
}

.page-article .container {
	padding: 15px 10px 57px 10px;
}

.page-article .title {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
    font-size: 2.0rem;
    font-weight: bold;
    line-height: 1.2;
}

.page-article .article-top .info,
.page-article .article-bottom .info {
	padding-top: 8px;
	padding-bottom: 8px;
	color: #999;
	font-size: 1.4rem;
	line-height: 1.6;
}
.page-article .article-top time {
	margin-right: 5px;	
}

.page-article .article-top .author {
	border-bottom: 1px dashed #dbdbdb;
}

.page-article .article-body {
	width: 100%;
	min-height: 75px;
	/* overflow: hidden; */
	margin: 10px 0;
	word-break: break-all;
}

.page-article .article-body img {
	max-width: 100%;
	height: auto;
}

.page-article .article-bottom {
	border-bottom: 1px solid #dbdbdb;
}
