<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServiceURL" value="http://125.64.213.53/JLService/Service.asmx"/>
    <add key="Sendurl" value="www.thksoft.net/jlzls/Index.aspx"/>
    <!--支付成功返回界面-->
    <add key="ReulstUrl" value="www.thksoft.net/jlzls/Notify.aspx"/>
    <add key="ReulstUrl1" value="www.thksoft.net/jlzls/Notify1.aspx"/>
    <!--用户绑定-->
    <add key="Sendurl2" value="www.thksoft.net/jlzls/BindId.aspx"/>
    <!--账单查询-->
    <add key="Sendurl3" value="www.thksoft.net/jlzls/Index2.aspx"/>
    <!--停水公告-->
    <add key="Sendurl4" value="www.thksoft.net/jlzls/WaterSupply.aspx"/>
    <add key="Sendurl5" value="www.thksoft.net/jlzls/NewsUserApplication.aspx"/>
    <add key="Sendurl7" value="www.thksoft.net/jlzls/ChooseIdCard.aspx"/>
    <add key="Sendurl6" value="www.thksoft.net/jlzls/InstallationPay.aspx"/>
    <!--<add key="CASHIER" value="113"/>  正式id 19-->
    <add key="CASHIER" value="107"/>
    <add key="PayUrls" value="Index.aspx"/>
    <add key="CusIni" value="9458"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings/>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <!--<compilation debug="true" targetFramework="4.0">
    </compilation>-->
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
 -->
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.5.2"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600"/>
  </system.web>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
</configuration>