@charset "utf-8";
/* CSS Document */
*{padding:0px;margin:0px;font-family:"微软雅黑";font-size:12px;}
a{text-decoration:none;}
li{list-style:none;}
img{border:none;}
input{border:none; outline:none;}
textarea{outline:none;}


/*停水通知*/
.cf_tstzcont{}
.cf_tstza01,.cf_tstz2a01{ display:block; height:45px; line-height:45px; border-bottom:1px solid #cccccc; font-size:14px;}
.cf_tstza01 span{ display:block; float:left; color:#4d4d4d; padding-left:15px; width:62px;}
.cf_tstza01 p{ float:left; display:block; color:#000000;}
.cf_tstza01 b,.cf_tstz2a01 b{ display:block; float:right; font-family:"宋体"; color:#8c8c8c;  padding-right:14px;}

/*停水通知2*/
.cf_tstz2a01 p{ float:left; display:block; color:#000000; padding-left:15px;}

/*停水通知3*/
.cf_tstz3p01{ padding:10px 18px 10px 18px; line-height:30px; border-bottom:1px solid #cccccc; font-size:18px;}

.cf_tstz3p02{ padding:10px 18px 10px 18px; line-height:32px; font-size:16px; color:#666666;}


/*投诉建议*/
.cf_tsjy1body{ background:#eeeeee;}
.cf_tsjy1cont{ background:#fff; padding:15px; overflow:hidden; margin-top:10px;}
.cf_tsjy1cont p{ color:#cccccc; font-size:14px; line-height:25px;}
.cf_tsjy1cont span{ display:block;}
.cf_tsjy1cont span b{ display:block; float:right;color:#cccccc; font-size:10px; font-weight:normal;}

.cf_tsjy1cont01{ height:32px; border-top:1px solid #bebebe; border-bottom:1px solid #bebebe; background:#fff; margin-top:15px;}
.cf_tsjy1cont01 span{ display:block; float:left; font-size:14px; color:#4d4d4d; line-height:32px; padding-left:30px;}
.cf_tsjy1cont01 a{ display:block; float:right; line-height:32px; font-family:"宋体"; color:#bcbcbc; font-size:16px; font-weight:bold; margin-right:20px; padding:0 4px 0 4px;}

.cf_tsjy1cont02{ padding:15px;}
.cf_tsjy1cont02 a{ display:block; background:#fff; border:1px solid #bebebe; border-radius:6px; width:64px; height:64px;}
.cf_tsjy1cont02 a img{ width:41px; height:41px; margin:11px;}

.cf_tsjy1abtn{ display:block; margin:0 15px 0 15px; background:#3388cc; height:38px; line-height:38px; text-align:center; color:#fff; font-size:18px; border-radius:8px; letter-spacing:3px;}



/*网点排号及预约*/
.cf_wdphyytab01{ width:100%;display: none;}
.cf_wdphyytab01 tr td{ padding:}
.cf_wdphyytab01in{ height:30px; border:1px solid #c2c3c5; border-radius:5px; margin:10px;}
.cf_wdphyytab01in input{ float:left; font-size:14px; color:#8c8c8c; height:28px; line-height:28px;border-radius:5px; padding:0 10px 0 10px; width:75%; background:none;}
.cf_wdphyytab01in a{ display:block; float:right;}
.cf_wdphyytab01in a img{ width:16px; height:16px; margin:6px 10px 0 0;}
.cf_wdphyying01{ width:30px; height:34px;}


.cf_wdphyybox01{ margin-bottom:50px;}
.cf_wdphyybox01 a{display:block; float:left; text-align:center; width:50%; height:40px; line-height:40px; font-size:14px; letter-spacing:2px;}
.cf_wdphyybox01 a:hover{background:#3388cc; color:#fff;}
.cf_wdphyya01{ background:#3388cc; color:#fff;border-top:1px solid #f3f4f6;border-bottom:1px solid #f3f4f6;}
.cf_wdphyya02{ background:#f3f4f6; color:#8c8c8c; border-top:1px solid #dadbdd;border-bottom:1px solid #dadbdd;}


.cf_wdphyybox02{width:94%;margin:0 auto;background:#fff; overflow: hidden;margin-top:1rem; clear:both;border-radius:4px;padding:1rem 0 1.5rem 0;position: relative;}
.cf_wdphyybox02 table{ width:98%;margin:0 auto}
.cf_wdphyybox02in{padding:5px 0 0 0px; width:100%;}
.cf_wdphyybox02in h3{ font-size:15px; font-weight:normal; color:#333333;    margin-bottom: 1rem;background: url(../images/name.png) no-repeat;background-size: contain;    padding-left: 2.5rem;}
.cf_wdphyybox02in p{font-size:14px; color:#737373; line-height:28px;}

.cf_wdphyyboxa01,.cf_wdphyyboxa02,.cf_wdphyyboxa03{ display:block; float:left;  width:30px; height:30px; line-height:30px; font-size:16px; text-align:center; border-radius:5px; color:#fff; margin-right:8px;}
.cf_wdphyyboxa01{background:#ff5d5d;}
.cf_wdphyyboxa02{background:#ffac62;}
.cf_wdphyyboxa03{background:#7dd562;}
.cf_wdphyyboxspan03{ display:block; float:right; font-size:14px; color:#737373; padding-top:10px;}
.cf_wdphyyinright{ display:block; float:right; font-size:18px; color:#b3b3b3; font-family:"宋体"; font-weight: bold; padding-right:12px;}
.cf_wdphyybox03{ border-top:1px solid #cccccc; height:40px; margin-top:8px;}
.cf_wdphyybox03 table{ width:100%;}
.cf_wdphyybox03 table tr td{ padding:8px;}
.cf_wdphyybox03 table tr td img{/* display:block; float:left;*/ display:inline-block; vertical-align:middle;}
.cf_wdphyybox03 table tr td span{/* display:block; float:left;*/ padding:0 10px 0 10px; display:inline-block; vertical-align:middle;}
.cf_wdphyybox03 table tr td b{ width:2px; border-left:1px solid #cccccc; height:32px;}
.arrow_r{position: absolute;right: 0;top: 1.3rem;}
.list_zx{width:92%;margin:0 auto}

/*表*/
.cf_bbox01{ height:192px; background:url(../images/cf_tsjy06.jpg);}
.cf_bbox01in01{ width:100%; color:#fff;}
.cf_bbox01in01 tr td { padding:15px 15px 4px 15px; }
.cf_bbox01in01 tr td p{ font-size:18px; color:#fff; line-height:30px;}
.cf_bbox01in01 tr td span{ display:block; font-size:16px;}

.cf_bbox01in02{ display:block;border-bottom:1px solid #a0cfea; margin:0 15px 0 15px;}
.cf_bbox01in03{ color:#fff;}

.cf_bbox01in03{ padding:15px;}
.cf_bbox01in03 img{ width:100%; height:98px;}

.cf_bbox01in04{ width:165px; height:165px; margin:0 auto; background:url(../images/cf_tsjy08.png); background-size:100%; margin-top:20px;}
.cf_bbox01in04 h3{ text-align:center; font-size:30px; color:#f05454; font-weight:normal; padding-top:26px;}
.cf_bbox01in04 h3 b{ font-size:18px;}
.cf_bbox01in04 p{text-align:center; font-size:16px; color:#fff; line-height:30px;}
.cf_bbox01in04 span{ display:block;text-align:center; font-size:14px; color:#fff;}
.cf_bbox01in04 u{display:block;text-align:center; font-size:20px; color:#fff; text-decoration:none;}
.cf_bbox01in05{ display:block; font-size:36px; color:#ca4747; text-align:center; margin-top:20px;}



/*表已缴费*/
.cf_b1box01in04{ width:165px; height:165px; margin:0 auto; background:url(../images/cf_tsjy09.png); background-size:100%; margin-top:20px;}
.cf_b1box01in04 h3{ text-align:center; font-size:30px; color:#2670b9; font-weight:normal; padding-top:26px;}
.cf_b1box01in04 h3 b{ font-size:18px;}
.cf_b1box01in04 p{text-align:center; font-size:16px; color:#fff; line-height:30px;}
.cf_b1box01in04 span{ display:block;text-align:center; font-size:14px; color:#fff; margin-top:20px;}
.cf_b1box01in04 u{display:block;text-align:center; font-size:20px; color:#fff; text-decoration:none;}
.cf_b1box01in05{ display:block; font-size:36px; color:#044c9c; text-align:center; margin-top:20px;}

/*网点排号 预约2*/
.cf_wdxxtab01{ border-top:1px solid #c2c3c5;border-bottom:1px solid #c2c3c5; background:#fff; padding:12px;}
.cf_wdxxtab01 h3{font-size:16px; color:#333333; font-weight:normal;}
.cf_wdxxtab01 table{ width:100%; font-size:14px; padding-top:30px;}
.cf_wdxxtab01 table tr td{ padding:4px;}
.cf_wdxxtab01 table tr td span{ color:#737373;}


.cf_wdxxbtn{ display:block; background:#3388cc; font-size:18px; color:#fff; line-height:38px; text-align:center; margin:20px; border-radius:8px;}



